.App {
  display: flex;
  background: lightyellow;
  justify-content: space-between;
}

#category1 {
  background: lightgrey;
}

#category2 {
  background: lightpink;
}

#category1, #category2 {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  width: 200px;
}

.category-li {
  /* background: lightgreen; */
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  border: 1px solid gray;
}

ul {
  list-style-type: none;
}

.logos {
  width: 100%;
  cursor: pointer;
}